<template name="tickerForm">
  <div class="container-fluid">
    <form action="" class="form-inline col-xs-12 ticker-form">
      <div class="form-group">
        <label for="" class="sr-only">Ticker Symbol</label>
        <input type="text" class="form-control text-uppercase" name="ticker" placeholder="Ticker Symbol" value="FB">
      </div>

      {{#if optionsUrl}}
        <div class="form-group">
          <label for="" class="sr-only">Expiration Date</label>
          <input type="date" class="form-control" name="expDate" value="2015-07-17">
        </div>
      {{/if}}

      <button type="submit" class="btn btn-info" {{disableSubmit}}>Submit</button>
    </form>

    <div class="col-xs-12 list-group">
      {{#each symbolList}}
        <a href="#" class="list-group-item">{{description}}, <strong>{{symbol}}</strong></a>
      {{/each}}
    </div>
  </div>
</template>