<template name="tickerForm">
  <div class="container-fluid tickerFormTemplate">
    <div class="row">
      <form action="" class="form-inline col-xs-12 ticker-form">

        <div class="form-group">
          <label for="" class="sr-only">Ticker Symbol</label>
          <input type="text" class="form-control text-uppercase" name="ticker" placeholder="Ticker Symbol" maxlength="7" required>
        </div>

        {{#if optionsUrl}}
          <div class="form-group">
            <label for="" class="sr-only">Expiration Date</label>
            <input type="date" class="form-control" name="expDate" value="2015-09-18" required>
          </div>
        {{/if}}

        {{#if homeUrl}}
          <div class="form-group">
            <label for="" class="sr-only">Time Frame</label>
            <select name="dateRange" class="form-control">
              <option value="22">30 days</option>
              <option value="65">90 days</option>
              <option value="127">6 months</option>
              <option value="189">9 months</option>
              <option value="256">1 year (weekly)</option>
              <option value="509">2 years (weekly)</option>
            </select>
          </div>
        {{/if}}

        {{#if positionsUrl}}
          <div class="form-group">
            <label for="" class="sr-only">Amount of shares bought</label>
            <input type="number" class="form-control" name="amountBought" placeholder="Amount" max="1000000000" required>
          </div>
          <div class="form-group">
            <label for="" class="sr-only">Price shares were aquired at</label>
            <input type="number" class="form-control" name="priceBought" placeholder="Price" max="1000000" required>
          </div>
          <div class="form-group">
            <label for="" class="sr-only">Date of purchase</label>
            <input type="date" class="form-control" name="dateBought" required>
          </div>
        {{/if}}

        <div class="form-group">
          <button type="submit" class="btn btn-info">Submit</button>
        </div>

      </form>
    </div>

    <div class="alert alert-danger" role="alert">
      <strong>Oh-oh!</strong> <span>That ticker is not in our database. Try another one.</span>
    </div>

    <div class="row">
      <div class="col-xs-12 list-group hidden">
        {{#each symbolList}}
          <a href="#" class="list-group-item">{{description}}, <strong>{{symbol}}</strong></a>
        {{/each}}
      </div>
    </div>

  </div>
</template>