body {
  .fa-line-chart {
    line-height: 20px;
  }
  .navbar-toggle {
    padding: 6px 10px !important;
  }
  .log-buttons {
    position: absolute;
    right: 2em;
  }
  .watchlist {
    margin-top: 20px;
    .thumbnail {
    font-size: 2em;
    height: 2em;
    }
  }
  .modal-header {
      .alert-danger {
      margin: 0;
      padding: 6px 12px;
    }
  }
  .list-group {
    padding-left: inherit;
    margin: 5px 0;
    .list-group-item {
      padding: 5px 10px;
    }
  }
  h1 {
    margin: 3% auto 5%;
  }
  table {
    margin-top: 20px;
    tr, th, td {
      text-align: center;
    }
    tbody td {
      padding: 8px 0 !important;
    }
    .data:nth-child(2n+1) {
    background-color: #eee;
    }
    .strikePrice .data:nth-child(2n+1) {
      background-color: rgba(134,205,255,.3);
    }
  }

  #empty {
    font-weight: 800;
    font-size: 1.3em;
  }
}

@media(max-width: 768px) {
  .log-buttons {
    right: 5em !important;
  }
}